*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}


.nav-bar{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    padding: 20px;
    
}

#general-container{
    border: 5px dashed transparent;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #EAEAEA;

}

.container1 {
 /*    border: 3px dashed blue; */
    width: 600px;
    /* height: 1000px; */
    margin: 50px auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
.img1 {
    width: 100%;
    height: 85%;
    object-fit: fill;
   
}


.div-parrafo1{
    background-color: white;
    height: 60px;
}

.title1{
    background-color: white;
    height: 43px;
    display: flex;
    justify-content: space-between;
    
}

h4{
    padding: 10px;
    font-family: Lato, sans-serif;
    font-weight: 800;
}

h1{
    font-family: Lato, sans-serif;
    margin-right: 230px;
    font-weight: 800;

}

#date{
    color: grey;
}

p{
    padding: 10px;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

/* ABOVE POST 1 */

.container2 {
       /* border: 3px dashed blue; */
       width: 600px;
       /* height: 1000px; */
       margin: 50px auto;
       height: 700px;
       display: flex;
       flex-direction: column;
       /* justify-content: space-between; */
       position: relative;
       
   }

   .div-parrafo2{
    background-color: white;
    height: 60px;
    position: absolute;
    bottom: -0px; /* Ajusta el valor según el tamaño del contenedor */
    
    
}

.title2{
    background-color: white;
    height: 43px;
    display: flex;
    justify-content: space-between;
    
}

.img2 {
    width: 100%;
    height: 155%;
    object-fit: fill;
   
}

